{% extends "layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="fos_user_user_show" style="margin: 50px;">
        <p style="font-size: 22px;"><b style="margin-right: 15px;">{{ 'profile.show.username'|trans }}:</b> {{ user.username }}</p>
        <p style="font-size: 22px;"><b style="margin-right: 65px;">{{ 'profile.show.email'|trans }}:</b> {{ user.email }}</p>
    </div>
{% endblock %}
