{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block body %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'Add new organization' }}</h1>
    </div>

    {{ form_errors(form) }}

    <form action="{{ path('app_organization_create') }}" method="post" class="form-horizontal" >
        {% include ':Admin/Organization:_form.html.twig' %}
        {{ create() }}
    </form>
{% endblock %}
