<span
        {#href="{{ path('app_card_show', { 'boardId': card.boardList.board.id, 'boardListId': card.boardList.id, 'id': card.id}) }}" #}
        class="list-element">
    <span class="list-element-name">{{ card.name }}</span>
</span>