{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block body %}
    <form action="{{ path('app_card_create', {'boardId': boardId, 'boardListId': boardListId}) }}" method="post" class="form-horizontal app_card_create" >
        <h3>{{ 'Add new card' }}</h3>
        {{ form_errors(form) }}
        {% include ':Card:_form.html.twig' %}
        {{ create() }}
    </form>
{% endblock %}
