  <a class="board" id="id{{board.id}}" href="{{ path('app_board_show', { 'boardId': board.id}) }}">
      <h2 style="float: left;">{{ board.name }}
          <span title="Restore" class="icon-share-alt icon" data-href="{{ path('app_board_unarchive', {'id': board.id}) }}"></span>
      </h2>
  </a>
