{% extends "layout.html.twig" %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block body %}
      <form action="{{ path('app_board_create') }}" method="post" class="form-horizontal app_board_create">
          <h3>{{ 'Add new Board' }}</h3>
          {{ form_errors(form) }}
          {% include ':Board:_form.html.twig' %}
          {{ create() }}
      </form>
{% endblock %}
